@import url("../../utilites/Color.css");

.body {
  height: "100vh";
}

.ImageBackground {
  width: 100%;
  height: 250px;
}

.box {
  background-color: "white";
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.boxTopHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 125px;
}

.leftside {
  display: flex;
  gap: 25px;
  width: 50%;
  margin: 25px 0 0 25px;
}

.FPC {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.FPC label {
  color: var(--App);
}

.imageSet {
  transform: translateY(-75px);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.username_profile {
  animation: dance 2s infinite;
}
@keyframes dance {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

.rightside {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 25px 25px 0 0;
  justify-content: flex-end;
  height: fit-content;
}

.Information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 25px;
  padding-bottom: 25px;
}

.Information label {
  font-size: 36px;
  font-weight: bold;
  color: var(--App);
}

/* Profile right side  */
.profileside {
  width: 90%;
  margin: auto;
  display: flex;
}

.profilefeed {
  flex: 7;
}

.profilerightbar {
  flex: 5;
}

/* On screens that are 875px wide or less, */

@media screen and (max-width: 875px) {
  .leftside,
  .rightside {
    flex-direction: column;
    width: fit-content;
    gap: 5px;
  }

  .imageSet {
    transform: translateY(0px);
  }

  .boxTopHeader {
    align-items: center;
    height: fit-content;
  }

  .profilerightbar {
    display: none;
  }
}
